.markdown-section h1 h2 h3 h4 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.markdown-section p {
    text-align: justify;
    font-size: 1.6rem;
    font-family: Palatino, serif;
}

.markdown-section pre > code {
    font-size: 1.6rem;
}

.markdown-section li {
    text-align: justify;
    font-size: 1.6rem;
    font-family: Palatino, serif;
}

.markdown-section #anchors-navbar ul {
    list-style-type:none;
}
